{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    {% if messages %}
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="product-alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>

        <script>
            setTimeout(function() {
            let alert = document.getElementById('product-alert');
            if (alert) {
                let bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
                bsAlert.close();
            }
            },3000);
        </script>
    {% endif %}
    <section class="inner-page" id="cart-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>سبد خرید</h1>
                                <p>مدیریت و خرید همزمان چند محصول</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">صفحه نخست</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <div id="cart-products">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 py-3">
                                                <div class="pb-3" id="return-to-shop">می‌خواهید محصولات دیگری اضافه کنید؟ <a href="products.html">بازگشت به فروشگاه</a></div>
                                                <div class="d-none d-md-block">
                                                    <div class="row my-2" id="heading">
                                                        <div class="col-3">
                                                            <div>کالا</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div>قیمت واحد</div>
                                                        </div>
                                                        <div class="col-1">
                                                            <div>تعداد</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div>تخفیف</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div>قیمت نهایی</div>
                                                        </div>
                                                        <div class="col-2 pr-0">
                                                            <div class="pr-3">هزینه کل</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Order Product Record -->
                                                {% for item in cart %}
                                                    <div class="row product">
                                                        <div class="col-12 col-md-3">
                                                            <div class="row">
                                                                <div class="col-2 col-md-4 pl-0">
                                                                    <img src=" {{item.product.image.url}}" alt="">
                                                                </div>
                                                                <div class="col-10 col-md-8">
                                                                    <a href= " {% url "products_app:product" item.product.slug %} " target="_blank"><div class="title pt-2">{{item.product.name}}</div></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-md-2">
                                                            <div class="d-md-none font-weight-bold">قیمت</div>
                                                            <div class="pt-1"><span class="product-encode4365gbf265g43d">{{item.product.base_price|intcomma:False}}</span> <span>تومان</span></div>
                                                        </div>
                                                        <div class="col-6 col-md-1 pl-4 pr-0 pr-md-3">
                                                            <div class="d-md-none font-weight-bold">تعداد</div>
                                                            <div class="pt-1"><span class="product-encode4365gbf265g43d">{{item.quntity}}</span></div>
                                                        </div>
                                                        <div class="col-6 col-md-2">
                                                            <div class="d-md-none font-weight-bold">تخفیف</div>
                                                            <div class="pt-1"><span class="product-discount">{{item.product.discount}}</span> <span>درصد</span></div>
                                                        </div>
                                                        <div class="col-6 col-md-2">
                                                            <div class="d-md-none font-weight-bold">قیمت نهایی</div>
                                                            <div class="pt-1"><span class="product-discount">{{item.product.final_price|intcomma:False}}</span> <span>تومان</span></div>
                                                        </div>
                                                        <div class="col-6 col-md-2 pr-0">
                                                            <div class="d-md-none font-weight-bold">هزینه کل</div>
                                                            <div class="pt-1 pr-2 bg-light"><span class="product-total" > {{item.total_price|intcomma:False}} </span> <span>تومان</span></div>
                                                            <a href="{% url "cart_app:cart_remove" item.id %}" class="product-remove btn-remove-from-basket" data-id=""><div class="small pl-2"><i class="fa fa-times"></i> حذف</div></a>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                {% endfor %}
                                                <!-- Order Product Record -->
                                                <div class="row product">
                                                    <div class="col-12">
                                                        <a href="{% url "cart_app:cart_clear" %}" class="product-remove btn-remove-from-basket" data-id="all"><div class="float-end small pl-2 font-weight-bold">خالی کردن سبد</div></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mt-2 mt-lg-0 pr-3 pr-lg-0">
                                <div id="factor">
                                    <div class="container">
                                        {% comment %} <div class="row py-2">
                                            <div class="col-6">
                                                <div>جمع کل فاکتور:</div>
                                            </div>
                                            <div class="col-6">
                                                <div><span id="factor-total-encode4365gbf265g43d">{{cart.total}}</span> تومان</div>
                                            </div>
                                        </div>
                                        <div class="row py-2 bg-light">
                                            <div class="col-6">
                                                <div>جمع تخفیف:</div>
                                            </div>
                                            <div class="col-6">
                                                <div><span id="factor-total-discount">200.000</span> تومان</div>
                                            </div>
                                        </div> {% endcomment %}
                                        <div class="row py-2" id="total">
                                            <div class="col-6">
                                                <div>مبلغ قابل پرداخت:</div>
                                            </div>
                                            <div class="col-6">
                                                <div><span id="factor-total">{{cart.total|intcomma:False}}</span> تومان</div>
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="col-12">
                                                <a href=" {% url "cart_app:order_creation" %} "><input type="submit" value="ادامه ثبت سفارش" class="btn btn-success w-100"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Suggested Products -->
                            <div class="col-12 pt-5" id="suggested-products">
                                <div class="title py-3 text-center">سایر محصولات پیشنهادی</div>
                                <div class="owl-carousel products-carousel">
                                    <!-- Product Item -->
                                    <div class="encode4326654321vfb item">
                                        <a href="product.html"><div class="image" style="background-image: url('assets/images/products/p102.png')"></div></a>
                                        <div class="details p-3">
                                            <div class="category">
                                                <a href="products.html">گوشی موبایل</a>
                                                &nbsp;/&nbsp;
                                                <a href="products.html">سامسونگ</a>
                                            </div>
                                            <a href="product.html"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
                                            <div class="encode4365gbf265g43d">4.000.000 تومان</div>
                                            <div class="rate">
                                                <i class="fa fa-star-half-alt"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span class="encode43bf265g43d">(14 رای دهنده)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Item -->
                                    <!-- Product Item -->
                                    <div class="encode4326654321vfb item">
                                        <a href="product.html"><div class="image" style="background-image: url('assets/images/products/p102.png')"></div></a>
                                        <div class="details p-3">
                                            <div class="category">
                                                <a href="products.html">گوشی موبایل</a>
                                                &nbsp;/&nbsp;
                                                <a href="products.html">سامسونگ</a>
                                            </div>
                                            <a href="product.html"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
                                            <div class="encode4365gbf265g43d">4.000.000 تومان</div>
                                            <div class="rate">
                                                <i class="fa fa-star-half-alt"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span class="encode43bf265g43d">(14 رای دهنده)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Item -->
                                    <!-- Product Item -->
                                    <div class="encode4326654321vfb item">
                                        <a href="product.html"><div class="image" style="background-image: url('assets/images/products/p102.png')"></div></a>
                                        <div class="details p-3">
                                            <div class="category">
                                                <a href="products.html">گوشی موبایل</a>
                                                &nbsp;/&nbsp;
                                                <a href="products.html">سامسونگ</a>
                                            </div>
                                            <a href="product.html"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
                                            <div class="encode4365gbf265g43d">4.000.000 تومان</div>
                                            <div class="rate">
                                                <i class="fa fa-star-half-alt"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span class="encode43bf265g43d">(14 رای دهنده)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Item -->
                                    <!-- Product Item -->
                                    <div class="encode4326654321vfb item">
                                        <a href="product.html"><div class="image" style="background-image: url('assets/images/products/p102.png')"></div></a>
                                        <div class="details p-3">
                                            <div class="category">
                                                <a href="products.html">گوشی موبایل</a>
                                                &nbsp;/&nbsp;
                                                <a href="products.html">سامسونگ</a>
                                            </div>
                                            <a href="product.html"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
                                            <div class="encode4365gbf265g43d">4.000.000 تومان</div>
                                            <div class="rate">
                                                <i class="fa fa-star-half-alt"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span class="encode43bf265g43d">(14 رای دهنده)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Item -->
                                    <!-- Product Item -->
                                    <div class="encode4326654321vfb item">
                                        <a href="product.html"><div class="image" style="background-image: url('assets/images/products/p102.png')"></div></a>
                                        <div class="details p-3">
                                            <div class="category">
                                                <a href="products.html">گوشی موبایل</a>
                                                &nbsp;/&nbsp;
                                                <a href="products.html">سامسونگ</a>
                                            </div>
                                            <a href="product.html"><h2>گوشی موبایل سامسونگ مدل Galaxy A21s دو سیم کارت ظرفیت 128 گیگابایت</h2></a>
                                            <div class="encode4365gbf265g43d">4.000.000 تومان</div>
                                            <div class="rate">
                                                <i class="fa fa-star-half-alt"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span class="encode43bf265g43d">(14 رای دهنده)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Item -->
                                </div>
                            </div>
                            <!-- /Suggested Products -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}