{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="inner-page" id="contact-page">

    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 d-inline-flex p-8 ">
                            <img src=" {% static "assets/images/login.png" %} " alt="">
                        </div>
                        <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">عضویت در فروشگاه میرآباد</div>
                            <p>با ورود به صفحه خود از همه امکانات سایت بهره مند شوید.</p>
                            <form action="" method="POST">
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <p>{{form.errors}}</p> 
                                    </div>
                                {% endif %}
                                {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    <p>{{ form.non_field_errors }}</p>
                                </div>
                                {% endif %}
                                {% csrf_token %}

                                <div class="form-group">
                                    {{form.username.label}}
                                    <p class="text text-danger", style="font-size:0.8em;margin-bottom:10px;margin-top:10px ;"><mark>{{form.username.help_text}}</mark></p>
                                    {{form.username}}
                                </div>
                                <div class="form-group">
                                    {{form.first_name.label}}
                                    {{form.first_name}}
                                </div>
                                <div class="form-group">
                                    {{form.last_name.label}}
                                    {{form.last_name}}
                                </div>
                                <div class="form-group">
                                    {{form.email.label}}
                                    {{form.email}}
                                </div>
                                <div class="form-group">
                                    {{form.phone_number.label}}
                                    {{form.phone_number}}
                                </div>
                                <div class="form-group">
                                    {{form.password1.label}}
                                    {{form.password1}}
                                </div>
                                <div class="form-group">
                                    {{form.password2.label}}
                                    {{form.password2}}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"> تکمیل عضویت</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}